body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
}

header {
    text-align: center;
    background: #333131;
    color: white;
    padding: 20px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.box {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.box h2 {
    text-align: center;
}

.profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
    object-fit: cover;
}
.profile:hover {
    content: url(img/profile2.jpg)
}
.project-card {
    background: #e9e9e9;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    transition: 0.3s;
}

.project-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background: #333131;
    color: white;
    margin-top: 20px;
}
 
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

 
@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-up {
    animation: slideUp 0.8s ease-out;
}
 
.grow:hover {
    transform: scale(1.05);
    transition: 0.3s;
}
 
.glow:hover {
    box-shadow: 0 0 15px rgba(58, 59, 61, 0.8);
    transform: translateY(-5px);
}

.typing {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid white;
    margin: auto;
    animation: typing 2s steps(20) forwards, blink 0.5s infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 258px; }
}

@keyframes blink {
    50% { border-color: transparent; }
}